<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<div class="container">
  <div class="container text-center">
    <div class="jumbotron">
        <h1 class="display-4">Mission to Mars</h1>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
    </div>
    </div>
    <div class="container">
        <div class="col-lg-12">
            <h3>Latest Mars News</h3>
            <h4>{{mission['News Title']}}</h4>
            <p>{{mission['News Paragraph']}}</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="container">
                <h3>Featured Mars Image</h3>
                <img src="{{mission['Featured Image']}}" width="750px">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                    <h5>Current Weather on Mars</h5>
                    <p>{{mission['Mars Weather']}}</p>
                    </div>
                </div>
                <div class="container">
                <h5>Mars Facts</h5>
                <table>{{mission['Table']|safe}}</table>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <h3>Mars Hemispheres</h3>
            <hr>
    </div>
    <div class="container">
        <div class="row">
            {% for hemisphere in mission['Hemispheres'] %}
            <div class="col-lg-6">
                <div class="container">
                    <img class="float-left m-3" src="{{hemisphere.img_url}}" alt="{{hemisphere.title}}" width="450px">
                    <h4>{{hemisphere.title}}</h4>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</body>

</html>